body {
    background-color: rgb(57, 57, 57);
    font-family: Georgia;
    color: rgb(187, 187, 187);
    text-align: center;
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: 50px;
}

.images {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    margin-top: 50;
    width: auto;
    display: block;
}

.heading {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
}

.links {
   margin-top: 50px; 
   display: block;
}