body {
    background-color: rgb(149, 119, 119);
    font-family: Georgia;
    color: rgb(185, 185, 185);
    text-align: center;
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    text-decoration: underline;
}

.images {
    margin-top: 50;
    display: inline;  
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

.heading {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
}

.links {
   margin-top: 50px; 
   display: block;
}

.heading {
    text-align:center;
    font-size:35px;
}