body {
    background-color: rgb(237, 198, 235);
    font-family: Georgia;
    text-align: center;
    color: rgb(84, 61, 134);
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: 50px;
}

.lyrics {
    font-weight: 250px;
}

.bio {
    text-align: center;
    font-weight: 250;
    font-size: 25px;
    margin-top:50px;
}

.images {
    margin-top: 50px;
    max-width: 100%;
}

.links {
    margin-top: 50px;
}

.heading {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
}
